html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
}

#page{
    display: grid;
    height: 100vh;
    grid-template-columns: 260px 1fr;
    color: white;
    background-color: #212121;
}

#page.light{
    background-color: #FFFFFF;
}

nav{
    min-width: 260px;
    height: 100vh;
    width: 13.5vw;
    background-color: #171717;
    transition:
            display 0.5s;

    display: grid;
    grid-template-rows: 7% 1fr 7%;
}
nav.light{
    background-color: #F9F9F9;
}

#newChatButtonBox{
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /*margin-top: 10px;*/
}

#newChatButtonBox.light{
    color: black;
}

#newChatButton{
    font-family: Roboto, sans-serif;
    font-weight: 550;
    /*background-color: #212121;*/
    /*border: 1px solid red;*/
    height: 60%;
    width: 85%;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#newChatButton:hover{
    background-color: #212121;
    cursor: pointer;
}

#newChatButton.light:hover{
    background-color: #FFFFFF;
}

#newChatButton > img{
    max-height: 30px;
    border-radius: 80px;
    margin-right: 20px;
    margin-left: 5px;
}

#chatSide{
    display: grid;
    grid-template-rows: 7% 80% 1fr;
}

#messageArea{
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageContainer{
    max-height: 20%;
    width: 85%;
    max-width: 800px;
    background-color: #212121;
    border: 1px solid #4b4b4b;
    border-radius: 12px;
    display: grid;
    grid-auto-columns: 90% 1fr;
    padding: 20px
}

#messageContainer.light{
    background-color: #FFFFFF;
}

#messageBox{
    background-color: transparent;
    border: none;
    color: #ffffff;
    outline: none;
    font-size: 0.9rem;
    font-family: Arial, sans-serif;
    font-weight: 525;
    padding: 1.5rem;
    margin: -1.5rem;

}

#messageBox.light{
    color: #000
}

#modelSelectorNav{
    background-color: #212121;
}

#modelSelectorNav.light{
    background-color: #FFFFFF;
}

#chatContainer{
    display: flex;
    justify-content: center;
    /*border: 1px solid red;*/
    /*align-items: center;*/
    max-height: 85vh;
}

#chatBoxesContainer{
    /*border: 1px solid green;*/
    max-height: 105%;
    height: 100%;
    width: 100%;
    max-width: 700px;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: auto; /* Add this to enable scrolling when necessary */
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chatBoxesContainer.light{
    color: black
}

#welcomeMessageBox{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcomeMessageBox.light{
    color: black;
}

#welcomeMessageBox > p{
    font-size: 1.5rem;
    font-family: Roboto, sans-serif;
    font-weight: 550;
}

#chatBoxesContainer::-webkit-scrollbar {
    display: none;
}

.messageContainer{
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    margin-bottom: 30px;

}

.userProfilePicture{
    max-width: 40px;
    min-width: 40px;
}

.userProfilePicture > img{
    width: 100%;
    border-radius: 120px;
}

.userName{
    font-size: 1.2rem;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-weight: bold;
}

.message{
    font-family: Roboto, sans-serif;
    letter-spacing: 1px;
    margin-left: 10px;
}


.select-container {
    position: relative;
    width: 200px;
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    color: white;

}

.select-container.light{
    color: black;
}

.selected-option {
    padding: 10px;
    /*border: 1px solid #ccc;*/
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}

.selected-option:hover{
    background-color: #171717;
}

.selected-option.light:hover{
    background-color: #F9F9F9;
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /*border: 1px solid #ccc;*/
    margin-top: 5px;
    border-radius: 8px;
    border-top: none;
    display: none;
    /*background: white;*/
    z-index: 10;
    margin-left: 10px;
    background-color: #171717;
}
.options.light{
    background-color: #f2f2f2;
}

.options li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
    /*border-radius: 8px;*/
}

.options li:first-child{
    border-radius: 8px 8px 0 0;
}

.options li:last-child{
    border-radius: 0 0 8px 8px;
}

.options li:hover{
    background-color: #4b4b4b;
}

.options li.light:hover {
    background-color: #cbcbcb;
}

.show {
    display: block;
}

#chatListContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

#chatList{
    /*border: 1px solid red;*/
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#chatList>li{
    margin-bottom: 15px;
    /*border: 1px solid green;*/
    max-width: 100%;
    width: 100%;
    height: 5vh;
    max-height: 5vh;
    min-height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #212121;
    border-radius: 8px;
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    /*padding: 20px;*/
}
#chatList>li>p{
    margin-left: 20px;
}

#chatList>li.light{
    background-color: #FFFFFF;
}

.code-block {
    background-color: #100f0f; /* Light gray background */
    border-radius: 8px;
    color: white;
    /*border: 1px solid #ddd; !* Light gray border *!*/
    /*border-left: 3px solid #f36d33; !* Accent color on the left border *!*/
    padding: 10px;
    overflow-x: auto; /* Makes it scrollable horizontally */
    margin-bottom: 10px; /* Space below the code block */
}

code {
    font-family: monospace;
    white-space: pre-wrap;
}

.inline-code {
    background-color: #f5f5f5; /* Light gray background */
    border-radius: 4px; /* Rounded corners */
    font-family: monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #333;
}

